@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme inline {
  --font-sans: 'Mona Sans', sans-serif;
  --color-primary: hsl(250 65% 65%);
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;

  --slide-ease: cubic-bezier(0.71, 0.03, 0.34, 1);
  --animate-word-slider: word-slider 15s infinite
    cubic-bezier(0.9, 0.01, 0.3, 0.99);
  --animate-meteor: meteor 5s linear infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-marquee: marquee 50s linear infinite;
}
@keyframes word-slider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer base {
  :root {
    @apply scroll-pt-24 scroll-smooth;
  }
  body {
    @apply bg-black font-sans text-white;
  }
}

@utility card {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
  --start: 0;
  @apply border-black-50 bg-black-100 relative z-40 break-inside-avoid-column overflow-hidden rounded-xl border p-6;
  transition: border-color 1s ease-in-out;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 2px solid transparent;
    background: var(--gradient);
    background-attachment: fixed;
    mask:
      linear-gradient(#0000, #0000),
      conic-gradient(
        from calc((var(--start) - 15) * 1deg),
        #ffffff1f 0deg,
        white,
        #ffffff00 100deg
      );
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: 0;
    transition: 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}

@utility timeline-gradient {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}

@utility logos-gradient-edge {
  @apply absolute bottom-0 z-20 h-full w-36;
  &:nth-of-type(1) {
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &:nth-of-type(2) {
    right: 0;
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@utility animate-pause {
  animation-play-state: paused;
}
